<% content_for :title do %>About<% end %>
<h3>About BorderSwipe</h3>
<p>
BorderSwipe was created by Ross, Bill, Sachi & Lamar at the
<%= link_to('Cross Border Hackathon', 'https://crossborderhackathonchicago.splashthat.com/') %>
 February 26-28th, 2016.
</p>
